# Default ignored files
/../../Evidence pojištění - Základní verze (povinná) /.idea/shelf/
/../../Evidence pojištění - Základní verze (povinná) /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Evidence pojištění - Základní verze (povinná) /.idea/httpRequests/
